{% extends 'layouts/base.twig' %}

{% block content %}
  <div class="p-6 w-full flex flex-col gap-4 items-center m-auto rounded-lg sm:max-w-lg"
    data-theme="light">
    <h1 class="text-3xl font-bold text-center">S'inscrire</h1>

    <form class="w-full flex flex-col gap-4" method="post">
      <div>
        <label class="label" for="email">Email</label>

        <input type="email"
          id="email"
          name="email"
          placeholder="Email"
          value="{{ email }}"
          class="w-full input input-bordered"
          autofocus />
      </div>

      <div>
        <label class="label" for="username">Pseudo</label>

        <input type="text"
          id="username"
          name="username"
          placeholder="Pseudo"
          value="{{ username }}"
          class="w-full input input-bordered"
          autofocus />
      </div>

      <div>
        <label class="label" for="password">Mot de passe</label>

        <input type="password"
          id="password"
          name="password"
          placeholder="Mot de passe"
          class="w-full input input-bordered" />
      </div>

      <div>
        <label class="label" for="password-confirm">
          Confiramtion mot de passe
        </label>

        <input type="password"
          id="password-confirm"
          name="password_confirm"
          placeholder="Confirmation mot de passe"
          class="w-full input input-bordered" />
      </div>

      <button class="btn btn-neutral btn-block">Inscription</button>
    </form>

    <a href="/login" class="btn btn-block">Se connecter</a>
  </div>
{% endblock %}
